!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="Kevin's personal website.")
    %meta(name="author" content="Kevin Lin")

    %title Kevin Lin
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')
    %link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd", crossorigin="anonymous")
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    %link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css")
    %link(rel="stylesheet" href="/css/app.css")

  %body
    -#%p.alert.alert-info(role="alert")= get_flash(@conn, :info)
    -#%p..alert.alert-danger(role="alert")= get_flash(@conn, :error)
    = render @view_module, @view_template, assigns

    %script(src="//code.jquery.com/jquery-2.1.4.min.js")
    %script(src='#{static_path(@conn, "/js/app.js")}')
