doctype html

html
  head
    block title
      title Default title

    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd", crossorigin="anonymous")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css")
    link(rel="stylesheet" href="/css/app.css")
    // link(href="fonts/cmun-bright/cmun-bright.css" rel="stylesheet")

  body
    block body
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="/js/app.js")
    // script(src="javascript/parallax.min.js")
