%h2 Skills

%ul.list-unstyled.loose-list
  %li Languages: Ruby, Elixir, HTML, HAML, Slim, CSS, Sass, JavaScript (ES6), CoffeeScript
  %li Frameworks: Ruby on Rails, Phoenix, RSpec, MiniTest, Capybara, Capistrano, jQuery, d3.js, Bootstrap, Phoenix
  %li Tools: Linux, PostgreSQL, Sidekiq, Redis, Memcache, Elasticsearch, Heroku, New Relic, CircleCI, Rollbar, Amazon EC2, Amazon Cloudfront, Twilio, Google Analytics, Optimizely
  %li Methodologies: Test-driven development, Agile
